body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-uppercase {
  text-transform: capitalize;
}

.text-error {
  color: #901f1f;
  margin-left: 1rem;
  margin-right: 1rem;
}

.container {
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}